// .pading-top-small{
//     padding-top: 2rem;
// }
// .pading-top-medium{
//     padding-top: 4rem;
// }
// .pading-top-lager{
//     padding-top: 6rem;
// }

.padding-gutters {
  padding: 7.5rem 0rem;
}

.margin-top-3 {
  display: inline-block;
}

.justify-content-center{
    justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}
.item-stretch {
  align-items: stretch;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}
.height-25rem{
    height: 25rem;
}